
    <%= image_tag product.image.tiny %>
  
    <h3><%= product.name %></h3>
    <br>
    <p><%= product.description %></p>
  
    <p> Product price: <%= product.price %> </p>
  
    <p> Quantity: <%= quantity %> </p>
  
    <p> Total price: <%= item_total %> </p>
  