<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Rating</dt>
          <% if @product.reviews.length > 0 %>
          <dd><%= @product.reviews.average(:rating)%> / 5</dd>
          <% else %>
          <dd> There are no rating to display</dd>
          <% end %>
        </dl>
      </div>
    </div>

    <br>
    <% if current_user %>

    <h3>User Reviews</h3>
    <br>
    <h5>Please use the form below to rate/comment on the product:</h5>

    <div class="review-form">
      <%= form_for :review, url: product_reviews_path({product_id: @product.id}) do |f| %>
      <div class="comment"><%= f.label :comment %>
        <%= f.text_field :description %></div>
      <div class="userrating"> <%= f.label :rating %>
        <%= f.select :rating, 1..5 %></div>
      <%= f.submit "submit" %>
      <% end %>
      <% end %>
    </div>
    <br>




    <div>
      <table id="reviews">
        <tr>
          <th class="user">User</th>
          <th class="comment">Comment</th>
          <th class="rating">Rating</th>
        </tr>
        <tr>
          <% @product.reviews.reverse_each do |review| %>
          <%= render 'reviews', review: review %>
          <% end %>
        </tr>
      </table>

      <br>
      <br>

    </div>


  </article>


</section>